.idea
cmake-build-debug
.vs
*.ipch
*.db
*.lock
*.json
*.vsidx
*.opendb
*.db-wal
*.vcxproj
*.bin
*.filters
.gitattributes
.vs/GamesLib/v17/.suo
*.tlog
*.tlog
*.obj
*.cmake
_build/_deps/sfml-subbuild/CMakeFiles/sfml-populate.dir/Labels.txt
.vs/CMake Overview
.gitattributes
*.sqlite
*.db-shm
_build/.vs/BoardGames/v17/.suo
*.stamp
*.depend
*.pdb
*.lib
*.recipe
*.log
*.rule
_build
out
.gitattributes
*.xml
